---
import { ghostClient } from "../../lib/ghost";

const posts = await ghostClient.posts.browse({
  limit: "6",
});
---

<!DOCTYPE html>
<html lang="en">
  {
    posts.map((post) => (
      <>
        <head>
          <title>{post.title}</title>
        </head>
        <body>
          <img src={post.feature_image} alt={post.title} />

          <h1>{post.title}</h1>
          <p>{post.reading_time} min read</p>

          <Fragment set:html={post.html} />
        </body>
      </>
    ))
  }

</html>
